dist: trusty
sudo: required
install: true
stages:
  - shell check
  - build docker images
env:
  global:
    - GOARCH=amd64
before_install:
  - sleep 15
  - sudo apt-get install -y
  - sudo apt-get install -y curl
  - sudo apt-get install -y shellcheck

jobs:
  include:

    - stage: shell check
      name: checking syntax of shell script
      script:
      - bash -c 'shopt -s globstar nullglob; shellcheck **/*.{sh,ksh,bash}' || true

    - stage: build forkbomb image
      name: build docker image forkbomb
      script:
      - make forkbomb

    - stage: build fio image
      name: build docker image fio
      script:
      - make fio
      
    - stage: build chaostoolkit images
      name: build docker image chaostoolkit
      script:
      - make chaostoolkit

    - stage: build mysql-client image
      name: build docker image mysql-client
      script:
      - make mysql-client

    - stage: build sysbench-client image
      name: build docker image sysbench-client
      script:
      - make sysbench

    - stage: build tpcc-client image
      name: build docker image tpcc-client
      script:
      - make tpcc

    - stage: build stress image
      name: build docker image stress
      script:
      - make stress

    - stage: build mongo-client image
      name: build docker image mongo-client
      script:
      - make mongo-client

    - stage: build postgres-client image
      name: build docker image postgres-client
      script:
      - make postgres-client

    - stage: build custom-client image
      name: build docker image custom-client
      script:
      - make custom-client

    - stage: build logger image
      name: build docker image logger
      script:
      - make logger

    - stage: build dd-client image
      name: build docker image dd-client
      script:
      - make dd

    - stage: build memleak image
      name: build docker image memleak
      script:
      - make memleak

    - stage: build elasticsearch-stress image
      name: build docker image elasticsearch-stress
      script:
      - make elasticsearch-stress

    - stage: build kafka-client image
      name: build docker image kafka-client
      script:
      - make kafka-client

    - stage: build app-cpu-stress image
      name: build docker image app-cpu-stress
      script:
      - make app-cpu-stress

notifications:
  email:
    recipients:
      - karthik.s@mayadata.io
